@import 'partials/main';

#company_name {
    color: $brand-primary;
    padding-top: 15px;
    align-items: left;
    position: fixed;
    z-index: 1;
    left: 1;
    top: 0;
}


#name {
    color: $blue-primary;
}


td, th {
    text-align: start;
    width: 80vh;
    padding: .5rem;

}

tr:hover{
 background-color: $light-two;
}

table{
    display: table-cell;
    border-collapse: collapse;
    padding: 35px;
    padding-top: 20px;
    
}

th{
    border-bottom: 2px solid $light-one;
}

.top:hover {
    background-color: white;
}

// .modal {
//     display: none;
//     position: fixed;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     width: 100vw;
//     height: 100vh;
//     overflow: auto;
//     background-color: rgba(0,0,0,0.3);
// }

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 33%;
    top: 10%;
    padding: 20px;
    //width: 100vw;
    height: 100vh;
    
    overflow: auto;
    
    background-color: rgba(0,0,0,0.3);
}

.modal-content {
    background-color: white;
    width: 100%;
    border: 5px solid black;
    padding: 25px;
    height: auto;
    //overflow: scroll;
    overflow: hidden;
    align-items: center;
}

